/* CONTACT US */

/* FORMULAR */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e8ddd0;;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.form-container {
    display: flex;
    background-color:#e8ddd0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px solid #708871;
    max-width:1240px;
    margin: auto;
    width: 100%;
    box-sizing:content-box;
}

.left-part,
.right-part {
    flex: 1;
    margin: 10px;
}

h3 {
    margin-bottom: 15px;
    font-size: 2em;
    color: #212020;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #708871;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

div {
    margin-bottom: 12px;
  }
  
/* Style for the submit button */
.submit-button {
    padding: 10px 20px;
    background-color:#708871;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.submit-button:hover {
    background-color:#374637;
}


/* MAP */

.location {
    width: 100%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

